# ignore playerIndex (ip-adresses)
Brightsign_player_index.xlsx

# ignore logs
brightsign_logs/

#ignore pycache-files
__pycache__/

#ignore config-file with sensitive data
config.ini

#ignore reports
reports/

#ignore executables
exe/

#ignore specs
*.spec